@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  color: hsl(214, 17%, 51%);
  font-size: 62.5%;
}

.container {
  background-color: #EDF2F8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component {
  width: 50%;
  height: 40%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  border-radius: 1.2rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.left {
  width: 100%;
  height: 100%;
  flex: 1;
}

.right {
  width: 100%;
  height: 100%;
  flex: 2;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  flex-wrap: nowrap;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

.right h2 {
  flex: 1;
  color: hsl(217, 19%, 35%);
  font-size: 2rem;
  font-weight: 700;
  flex-shrink: 1;
}

.right p {
  flex: 1;
  color: hsl(217, 19%, 35%);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 0;
  flex-shrink: 1;
}

.writerInfo {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .1rem .5rem;
  height: auto;
  font-size: .7rem;
}

.writerAvatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-right: 1.5rem;
  flex: 1;
}

.writerInfos {
  flex: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.writerInfos span {
  margin: .2rem;
}

.writerName {
  font-weight: 700;
  font-size: 1.4rem;
  color: #444;
}

.writerDate {
  font-weight: 500;
  font-size: 1.2rem;
  color: #777;
}

.shareDiv {
  position: relative;
}

.shareBtn {
  background-color: #eee;
  padding: 1rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  scale: 1.5;
}

.shareBtn:hover {
  background-color: #111;
  color: #fff;
}

.socialShare {
  display: none;

  position: absolute;
  top: -9vh;
  right: -6vw;
  background-color: hsl(217, 19%, 35%);
  width: auto;
  flex-direction: row;
  color: hsl(210, 46%, 95%);
  font-size: 2rem;
  letter-spacing: .3rem;
  font-weight: 700;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.socialShare::after {
  position: absolute;
  content: '';
  width: 3vw;
  height: 3vh;
  background-color: hsl(217, 19%, 35%);
  /* background-color: #f1f1; */
  top: 4.5vh;
  right: 6vw;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.socialShare img {
  margin: 0 1rem;
}

@media screen and (max-width:992px) {
  .shareBtn {
    scale: 1;
  }
}

@media screen and (max-width:768px) {
  .component {
    width: 90%;
    height: auto;
    flex-direction: column;
  }

  .right h2 {
    font-size: 1.8rem;
  }

  .right p {
    font-size: 1.45rem;
    margin: 1.5rem 0;
  }

  .left img {
    border-radius: 0;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
  }

  .shareBtn {
    scale: 1.5;
  }

  .socialShare::after {
    width: 8vw;
    height: 3vh;
  }
}