* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(36, 36, 36);
  height: 100vh;
  width: 100%;
  color: #fff;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.lights {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0);
}

.circle {
  display: flex;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #fff;
  margin: 1rem;
  transition: 1s all ease;
}

.circle:after {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 17.5px;
  top: -15px;
  margin: 0;
  padding: 0;
  display: block;
  background: rgb(61, 61, 61);
  border-radius: 2px;
  display: inline-block;
  border-bottom: 2px solid rgb(97, 81, 107);
}

/* Circle before is lines on dots */
.circle::before {
  position: absolute;
  content: '';
  top: -20px;
  left: 30px;
  position: absolute;
  width: 70px;
  height: 18.6666666667px;
  border-bottom: solid #666 2px;
  border-radius: 50%;
}

.blue {
  background: #202bcf;
  animation: glow-1 1s infinite;
}

.red {
  background: #c23535;
  animation: glow-2 1s infinite;
}

.green {
  background: #08c537;
  animation: glow-3 1s infinite;
}

.yellow {
  background: #d6fa07;
  animation: glow-4 1s infinite;
}

.purple {
  background: #9644e2;
  animation: glow-5 1s infinite;
}

.orange {
  background: #f0a416;
  animation: glow-6 1s infinite;
}

.cyan {
  background: #0fa4e9;
  animation: glow-7 1s infinite;
}

.title {
  color: #fff;
  font-size: 4rem;
  text-shadow: 0 0 30px white;
  margin: 2rem 0;
  text-align: center;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controls .on,
.controls .off {
  padding: .5rem;
  font-size: 2rem;
  border-radius: 50%;
  border: 2px solid #4444dd;
  background: none;
  color: #fff;
  margin: 0 1rem;
  cursor: pointer;
  transition: all .2s ease;
}

.controls .on:focus,
.controls .off:focus {
  outline: none;
}

.controls label {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.controls input {
  padding: .5rem;
  font-size: 1.5rem;
  color: #000;
  border-radius: 1rem 0 0rem 1rem;
  border: none;
  margin-right: .2rem;
}

.controls input:focus {
  outline: none;
}

.controls .run {
  padding: .5rem;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 0rem 1rem 1rem 0rem;
  border: 2px solid #4444dd;
  background: none;
  cursor: pointer;
  transition: all .2s ease;
}

.controls .on:hover,
.controls .off:hover,
.controls .run:hover {
  background: #4444dd;
  color: #fff;
}

@keyframes glow-1 {

  0%,
  100% {
    box-shadow: 0 0 20px 5px #202bcf;
  }

  50% {
    box-shadow: none;
  }
}

@keyframes glow-2 {

  0%,
  100% {
    box-shadow: 0 0 20px 5px #c23535;
  }

  50% {
    box-shadow: none;
  }
}

@keyframes glow-3 {

  0%,
  100% {
    box-shadow: 0 0 20px 5px #08c537;
  }

  50% {
    box-shadow: none;
  }
}

@keyframes glow-4 {

  0%,
  100% {
    box-shadow: 0 0 20px 5px #d6fa07;
  }

  50% {
    box-shadow: none;
  }
}

@keyframes glow-5 {

  0%,
  100% {
    box-shadow: 0 0 20px 5px #9644e2;
  }

  50% {
    box-shadow: none;
  }
}

@keyframes glow-6 {

  0%,
  100% {
    box-shadow: 0 0 20px 5px #f0a416;
  }

  50% {
    box-shadow: none;
  }
}

@keyframes glow-7 {

  0%,
  100% {
    box-shadow: 0 0 20px 5px #0fa4e9;
  }

  50% {
    box-shadow: none;
  }
}