* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  place-items: center;
  overflow: hidden;
  background-color: #eee;
}

.container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0rem 2rem 2rem 2rem rgba(0, 0, 0, .1),
    .1rem .1rem .1rem rgba(0, 0, 0, .2);
  border-radius: 1rem;
  padding: 2rem;
}

.container h2 {
  text-align-last: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.appInfo {
  text-align-last: center;
  margin-bottom: .5rem;
  font-weight: 300;
  font-size: 1.2rem;
  color: #444;
  margin: 2rem 0;
}

.binWarning {
  color: red;
  font-size: 1.2rem;
  text-align: center;
}

.bin2Dec {
  display: flex;
  flex-direction: column;
}

.formItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: .5rem 0;
  align-items: center;
  font-size: 1.2rem;
}

.formItem input {
  width: 100%;
  margin-top: 2rem;
  padding: .3rem;
  border: none;
  border-bottom: 1px solid #437ae2;
  transition: all .2s ease;
  font-size: 1.2rem;
  text-align: center;
}

.output {
  text-align: center;
  width: auto;
  margin: 1rem;
  font-size: 2.5rem;
}

.formItem input:focus {
  outline: none;
}

.formConvert {
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  padding: .5rem;
  background-color: #437ae2;
  color: #fff;
  transition: all .2s ease;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.formConvert:hover,
.formConvert:focus {
  filter: grayscale(.3);
  outline: none;
  box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, .2);
}

.madeBy {
  margin-top: 4rem;
  color: #555;
  text-align: center;
}

.madeBy a {
  text-decoration: none;
  color: #555;
  font-weight: 600;
  border-bottom: 1px solid #437ae2;
  transition: all .2s ease;
}